{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"trailingComma": "all",
	"printWidth": 120,
	"tabWidth": 2,
	"arrowParens": "avoid",
	"useTabs": true,
	"endOfLine": "auto",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/screens/(.*)$",
		"^@/components/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/configs/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
