@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import 'react-redux-toastr/src/styles/index';

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Outfit', sans-serif;
	box-sizing: border-box;

	@apply bg-gray-900;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

input,
select,
button,
textarea {
	font-family: inherit;
}

ul {
	list-style: none;
}

button,
input {
	@apply outline-border-none;
}

button {
	cursor: pointer;
}

:root {
	--primary-color: #e30b13;
	--scrollbar-thumb-color: #66676E; /* Основной цвет */
  --scrollbar-track-color: #242529; /* Цвет трека */
}

input[type='file'],
input[type='file']::-webkit-file-upload-button {
	@apply cursor-pointer focus:outline-none;
}

input:focus {
	box-shadow: none !important;
}

/* Стили скроллбара */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* WebKit */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6px;
}

/* IE и Edge */
* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}